.datetime {
    padding: 2% 5%;
    text-align: center;
    background-image: url('../images/fundo-estrelas.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

.datetime h2,
.datetime h4,
.datetime p {
    margin: 0;
}

.datetime-text {
    padding: 2% 0 7.5% 0;
    display: flex;
    justify-content: center;
}

.datetime h2 {
    margin: 1% 0;
}

.datetime h4 {
    margin: 2% 0;
}

.datetime p {
    margin: 2% 0;
}

.datetime-box {
    text-align: center;
    background-color: transparent;
    border: 1px solid white;
}

.datetime-box span {
    font-size: 64px;
    font-weight: bold;
}

.datetime-box p {
    font-size: 24px;
}