.footer {
    display: block;
    padding: 2% 5%;
    background-color: var(--dark-green);
    color: #fff;
}

.footer h5 {
    margin: 0;
    font-weight: normal;
}

.footer-title {
    display: flex;
    align-items: center;
}

.footer-text {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.footer-title img {
    width: 200px;
    margin: auto;
}

.footer p {
    margin: 0;
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .row {
        row-gap: 50px;
    }
}