.footer {
    display: block;
    padding: 2% 5%;
    background-color: #666;
    color: #e9e5e5;
}

.footer h5 {
    margin: 0;
    font-weight: normal;
}

.footer-title{
    align-items: center;
    padding-right: 0;
    border-right: solid black 0.2em;
}

.footer p {
    margin: 0;
    font-size: 1.2em;
}

.footer-text a{
    text-decoration: none;
    font-size: 1.2em;
    
}
.footer-text a:hover{
    color: #76b4ee; 
}

