.footer {
    display: block;
    padding: 2% 5%;
    background-color: var(--dark-green);
    color: #fff;
}

.footer h5 {
    margin: 0;
    font-weight: normal;
}

.footer-title {
    display: flex;
    align-items: center;
    border-right: solid var(--green) 0.2em;
}

.footer p {
    margin: 0;
    font-size: 1.2em;
}