.navbar-nav {
    margin-right: 20%;
}

.navbar-nav .nav-item {
    margin-right: 10%;
}

.navbar-brand {
    margin-left: 5%;
    padding: 15px 0;
}

.nav-item {
    padding: 0;
}

.header-nav {
    background-color: #082253;
}