.navbar-nav {
    margin-right: 20%;
}

.navbar-nav .nav-item {
    margin-right: 10%;
}

.navbar-brand {
    margin-left: 5%;
    padding: 15px 0;
}

.nav-item {
    padding: 0;
}

.navbar {
    background-color: transparent;
    transition: .8s;
}

.navbar-hidden {
    visibility: hidden;
    transition: .5s;
}

.header-scroll {
    background-color: #082253;
}

.header-scroll-visible {
    visibility: visible;
}