.home {
    display: block;
    margin-top: 10%;
}

.home h1,
.home h4,
.home h5,
.home p {
    margin: 0;
}

/* Página Inicial */
.home-title {
    text-align: center;
}

.home-title h1 {
    margin-bottom: 5px;
}

.home-text i {
    margin-top: 35px;
    font-size: 32px;
}

.home-text p {
    margin-top: 20px;
    font-size: 19px;
    text-align: justify;
}

.home-text p::first-letter {
    margin-left: 20px;
}

.home-img {
    display: flex;
    align-items: center;
    padding: 30px;
}

.home-img img {
    display: block;
    margin: auto;
}

@media (max-width:991px) {

    .home-img img {
        position: absolute;
        opacity: 0.2;
        top: 50%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .home-ur-text {
        row-gap: 70px;
    }
}