* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-shadow: none;
}

body{
    margin: 0 5%;
}

header {
    margin: 0;
    padding: 0;
}

<<<<<<< Updated upstream
.header-nav{
    padding-bottom: 10em;
=======
header ul li {
    list-style: none;
>>>>>>> Stashed changes
}