* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-shadow: none;
}

header {
    margin: 0;
    padding: 0;
}

header ul li {
    list-style: none;
}

.home,
.userRequirement,
.rewards {
    padding: 0 5%;
}


