* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}


:root {
    --fundo-01: #fff;
    --fundo-02: #f7f7f3;
    --fundo-03: #efefe6;
    --fundo-04: #e7e7da;
    --fundo-05: #dfdecd;

    --blue: #3268ba;
    --dark-blue: #092855;

    --green: #17882c;
    --green-opacity: #17882cd0;
    --dark-green: #00510f;
}

body {
    overflow-x: hidden;
}

header {
    margin: 0;
    padding: 0;
}

header ul li {
    list-style: none;
}
