.datetime {
    padding: 2% 5% 8.5% 5%;
    text-align: center;
    background-color: var(--fundo-04);
}

.datetime h2,
.datetime h4,
.datetime h5,
.datetime p {
    margin: 0;
}

.datetime header {
    padding-bottom: 4%;
    text-align: center;
}

.datetime header h2 {
    padding: 1% 0;
}

.datetime header h2,
.datetime header h4 {
    color: #222;
}

.datetime-text {
    display: flex;
    justify-content: center;
    color: white;
}

.datetime-text .row {
    width: 100%;
}

.datetime-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    text-align: center;
    background-color: #222;
    border: 1px solid white;
}

.datetime-box div h5 {
    font-size: 64px;
}

.datetime-box div p {
    font-size: 18px;
}