.event {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100vh;
}

#logobranca {
    width: 60%;
}

.event .img-fundo {
    position: absolute;
    width: 100%;
    right: 0;
    height: 100vh;
    opacity: 0.8;
    background-image: url('/images/fundo-maker.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.event-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #ffb301c5; */
    background-color: var(--green-opacity);
    padding: 0 30px;
    text-align: center;
    z-index: 1;
}


.event-text h4,
.event-text h5,
.event-text a {
    margin: 0;
    color: #fff;
}


.event img {
    display: block;
    margin: auto;
    width: 400px;
    object-fit: cover;
}


.event-text h4,
.event-text span,
.event-text a {
    margin: 5% 0;
}

.event-text span {
    display: block;
    width: 150px;
    margin: 5% auto 5% auto;
    padding: 15px;
    background-color: var(--blue);
    color: #fff;
    border-radius: 15px;
    transition: .5s ease-out;
}

.event span:hover {
    background-color: var(--dark-blue);
    box-shadow: 0px 0px 10px var(--blue);
}

.event span a {
    margin: auto;
    text-decoration: none;
    color: white;
    transition: .3 ease-out;
}


@media (max-width:992px) {
    .event-text {
        width: 100%;
    }
}