.home {
    display: block;
    padding: 2% 5% 6.5% 5%;
    position: relative;
}

.home h1,
.home h4,
.home h5,
.home p {
    margin: 0;
}

/* Página Inicial */
.home-title {
    text-align: center;
    padding-top: 2%;
}

.home-title h1 {
    margin-bottom: 5px;
}

.home-text {
    display: grid;
    place-self: center;
    padding: 2% 0;
    text-align: justify;
}

.home-text i {
    font-size: 48px;
    color: var(--green);
}

.home-text p {
    margin-top: 20px;
    font-size: 19px;
}

.home-text p::first-letter {
    margin-left: 20px;
}

.home-img {
    padding: 2% 0;
    display: flex;
    align-items: center;

}

.home-img img {
    display: block;
    margin: auto;
}

@media (max-width:992px) {
    .home-img img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0.09;
    }

    .home-ur-text {
        row-gap: 70px;
    }
}