.rewards {
    padding: 2% 5%;
    background-color: #fcfcfc;
}

.rewards header {
    padding-bottom: 4%;
}

.rewards header h2 {
    color: #222;
    margin: 0;
    padding: 1% 0;
}

.rewards h5,
.rewards p {
    margin: 0;
}

.rewards-text {
    text-align: justify;
    padding: 2% 0 6.5% 0;
}

.rewards-box {
    background-color: #222222fa;
    color: #ffffffe7;
    height: 150px;
    cursor: pointer;
    border-radius: 15px;
    height: auto;
}

.rewards-box h5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 10px 0;
}

.rewards-box p {
    margin: 30px 0;
}

.rewards-box i {
    font-size: 32px;
}

.rewards span a {
    display: block;
    width: 200px;
    height: auto;
    margin: 0 auto 2% auto;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #292929;
    border-radius: 20px;
    transition: .5s ease-out;
}
.rewards span a:hover {
    color: white;
    background-color: #757575;
}

@media (max-width: 992px) {
    .rewards-text .row {
        row-gap: 50px;
    }
}